
.text-center {
  text-align: center !important;
}

.text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-justify {
  text-align: justify !important;
}

.rtl {
  direction: rtl !important;
}

.ltr {
  direction: ltr !important;
}

.oddTable {
  width: 100%;
}

.oddTable tr:nth-child(even) {
  background: rgba(0, 0, 0, 0.04);
}

.oddTable tr td {
  padding: 5px 10px 5px 10px;
}

.oddTable tr td:first-child {
  font-weight: bold;
  padding-left: 30px;
}

.oddContainer {
  width: 100%;
}

.oddContainer .row:nth-child(odd) {
  background: rgba(0, 0, 0, 0.1);
}

.oddContainer .row .col {
  padding: 5px 10px 5px 10px;
}

.oddContainer .row .col:first-child {
  font-weight: bold;
  padding-left: 30px;
}

.link {
  text-decoration: none !important;
}

.shad-card .v-card {
  box-shadow: 0 15px 30px -8px rgba(0, 0, 0, .08);
}

.full {
  width: 100%;
}

.reserveBg {
  background: #00b09b; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #96c93d, #00b09b); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.reserveBg3 {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.reserveBg2 {
  background: #a8ff78; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #78ffd6, #a8ff78); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #78ffd6, #a8ff78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
